#image{
    max-width: 100%;
    height: auto;
  }
  img {
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
    }
    
    #img-div {
      background: white;
      padding: 10px;
      margin: 0;
    }
    body {
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
    